<div class="body"
    style="margin: 200px 35%; border: 1px solid rgb(36, 202, 72); width: 500px; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);">
    <div class="container-form" style="padding: 50px;">
        <h1 style="text-align: center;">Quên mật khẩu</h1>
        <p style="text-align: center; font-weight: 350; font-size: 15px; margin-bottom: 25px">
            Tìm kiếm email
        </p>
        {{#if errorMessage}}
        <div class="user-message-error">{{errorMessage}}</div>
        {{/if}}

        <form class="login-form" action="/dat-lai-mat-khau" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control form-auth" id="email" name="email"></input>
            </div>

            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </form>
    </div>
</div>