<div class="body">
    <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Tạo bài đăng
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tạo bài đăng</li>
            </ol>
        </div>
    </div>
    <div class="body-admin">
        <form method="POST" action="/admin/news" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title-news" class="label-title-news">Tiêu đề</label>
                <input type="text" class="form-control" id="title-news" name="title" required>
            </div>
            <div class="form-group">
                <label for="imgStory">Ảnh chính</label>
                <input type="file" class="form-control" id="imgStory" name="imgStory" required>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="preview-images"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="summernote">Nội dung</label>
                <textarea id="summernote" name="content" required></textarea>
            </div>

            <button type="submit" class="btn btn-click btn-cart btn-add">Đăng bài</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-lite.js"></script>


<script>
    $('#summernote').summernote({
        tabsize: 1,
        height: 500,
        toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['insert', ['link', 'picture']],
        ],
        popover: {
            image: [
                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ],
            air: [
                ['font', ['bold', 'underline', 'clear']],
                ['insert', ['link', 'picture']]
            ]
        },
    });
    $('#summernote').summernote('removeFormat');


    $(document).ready(function () {
        // Multiple images preview in browser
        let imagesPreview = function (input, placeToInsertImagePreview) {
            if (input.files) {
                let filesAmount = input.files.length;
                for (i = 0; i < filesAmount; i++) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $($.parseHTML("<img>")).attr("src", event.target.result).appendTo(placeToInsertImagePreview);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }
        };
        $("#imgStory").on("change", function () {
            imagesPreview(this, "div.preview-images");
        });
    });
</script>