<div class="body">
    <div class="policy">
       <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Chính sách bảo mật
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chính sách bảo mật</li>
            </ol>
        </div>
    </div>
        <div class="content-policy">
            <p class="head-policy">Chính sách bảo mật nhằm bảo đảm an toàn thông tin liên quan đến các tổ chức, cá nhân
                tham gia truy cập hoặc giao dịch trên website oars.epizy.com . Chính sách này mô tả cách Oars Organic
                tiếp nhận, tổng hợp, lưu giữ, sử dụng và bảo vệ Thông tin của khách hàng truy cập, giao dịch trên Oars
                Organic (“Khách hàng”). Việc Khách hàng truy cập hoặc thực hiện giao dịch trên Oars Organic được hiểu là
                Khách hàng đã đọc, hiểu và đồng ý tuân thủ Chính sách này, kể cả các phiên bản sửa đổi, bổ sung của
                Chính sách. Phiên bản sửa đổi, bổ sung Chính sách này (nếu có) sẽ có hiệu lực sau 5 ngày kể từ ngày việc
                sửa đổi, bổ sung.</p>
            <div>
                <p class="title-menu" style="padding-top: 20px;">Chính sách được thông báo trên Oars Organic:</p>
                <div>
                    <p class="number">1.</p>
                    <p>Thu thập thông tin cá nhân Các thông tin thu thập thông qua website website sẽ giúp chúng tôi:
                        <br>- Hỗ trợ khách hàng khi mua sản phẩm
                        <br>- Giải đáp thắc mắc khách hàng
                        <br>- Cung cấp cho bạn thông tin mới nhất trên Website của chúng tôi
                        <br>- Xem xét và nâng cấp nội dung và giao diện của Website
                        <br>- Thực hiện các bản khảo sát khách hàng
                    </p>
                </div>
                <div>
                    <p class="number">2.</p>
                    <p>Sử dụng thông tin cá nhân Website thu thập và sử dụng thông tin cá nhân quý khách với mục đích
                        phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này. Khi cần thiết, chúng tôi có
                        thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư
                        ngỏ, đơn đặt hàng, thư cảm ơn, thông tin về kỹ thuật và bảo mật, quý khách có thể nhận được thư
                        định kỳ cung cấp thông tin sản phẩm, dịch vụ mới, thông tin về các sự kiện sắp tới hoặc thông
                        tin tuyển dụng nếu quý khách đăng kí nhận email thông báo.</p>
                </div>
                <div>
                    <p class="number">3.</p>
                    <p>Chia sẻ thông tin cá nhân: Ngoại trừ các trường hợp về Sử dụng thông tin cá nhân như đã nêu trong
                        chính sách này, chúng tôi cam kết sẽ không tiết lộ thông tin cá nhân bạn ra ngoài. Trong một số
                        trường hợp, chúng tôi có thể thuê một đơn vị độc lập để tiến hành các dự án nghiên cứu thị
                        trường và khi đó thông tin của bạn sẽ được cung cấp cho đơn vị này để tiến hành dự án. Bên thứ
                        ba này sẽ bị ràng buộc bởi một thỏa thuận về bảo mật mà theo đó họ chỉ được phép sử dụng những
                        thông tin được cung cấp cho mục đích hoàn thành dự án. Chúng tôi có thể tiết lộ hoặc cung cấp
                        thông tin cá nhân của bạn trong các trường hợp thật sự cần thiết như sau: (a) khi có yêu cầu của
                        các cơ quan pháp luật; (b) trong trường hợp mà chúng tôi tin rằng điều đó sẽ giúp chúng tôi bảo
                        vệ quyền lợi chính đáng của mình trước pháp luật; (c) tình huống khẩn cấp và cần thiết để bảo vệ
                        quyền an toàn cá nhân của các thành viên website khác.</p>
                </div>
                <div>
                    <p class="number">4.</p>
                    <p>Truy xuất thông tin cá nhân: Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa
                        những thông tin cá nhân của mình theo các liên kết (website's links) thích hợp mà chúng tôi cung
                        cấp.</p>
                </div>
                <div>
                    <p class="number">5.</p>
                    <p>Truy xuất thông tin cá nhân: Bất cứ thời điểm nào quý khách cũng có thể truy cập và chỉnh sửa
                        những thông tin cá nhân của mình theo các liên kết (website's links) thích hợp mà chúng tôi cung
                        cấp.</p>
                </div>
                <div>
                    <p class="number">6.</p>
                    <p> Thay đổi về chính sách: Chúng tôi hoàn toàn có thể thay đổi nội dung trong trang này mà không
                        cần phải thông báo trước, để phù hợp với các nhu cầu của website cũng như nhu cầu và sự phản hồi
                        từ khách hàng nếu có. Khi cập nhật nội dung chính sách này, chúng tôi sẽ chỉnh sửa lại thời gian
                        “Cập nhật lần cuối” bên dưới. Nội dung “Chính sách bảo mật” này chỉ áp dụng tại website, không
                        bao gồm hoặc liên quan đến các bên thứ ba đặt quảng cáo hay có links tại website. Chúng tôi
                        khuyến khích bạn đọc kỹ chính sách An toàn và Bảo mật của các trang web của bên thứ ba trước khi
                        cung cấp thông tin cá nhân cho các trang web đó. Chúng tôi không chịu trách nhiệm dưới bất kỳ
                        hình thức nào về nội dung và tính pháp lý của trang web thuộc bên thứ ba. Vì vậy, bạn đã đồng ý
                        rằng, khi bạn sử dụng website của chúng tôi sau khi chỉnh sửa nghĩa là bạn đã thừa nhận, đồng ý
                        tuân thủ cũng như tin tưởng vào sự chỉnh sửa này. Do đó, chúng tôi đề nghị bạn nên xem trước nội
                        dung trang này trước khi truy cập các nội dung khác trên website cũng như bạn nên đọc và t ham
                        khảo kỹ nội dung “Chính sách bảo mật” của từng website mà bạn đang truy cập.</p>
                </div>
                <div>
                    <p class="number">7.</p>
                    <p> Sử dụng Cookie Oars Organic cung cấp các tập tin cookie hoặc các công nghệ tương tự, nhằm thu
                        thập
                        các Thông tin như: lịch sử truy cập, các lựa chọn của Khách hàng khi truy cập và sử dụng tính
                        năng
                        của Oars Organic... nhằm tăng trải nghiệm bảo mật và giúp Organicfood.vn hiểu rõ nhu cầu, sở
                        thích
                        của Khách hàng để có thể cung cấp dịch vụ tốt hơn.Oars Organic.</p>
                </div>

            </div>
        </div>
    </div>
</div>