<div class="body">
    <div class="policy">
        <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Chính sách đổi trả
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chính sách đổi trả</li>
            </ol>
        </div>
    </div>
        <div class="content-policy">
            <p class="title-menu">Chúng tôi không áp dụng đổi trả nhóm hàng thực phẩm tiêu dùng, trừ trường hợp hàng
                phát hiện hàng bị lỗi bảo quản hay bị hư hại trong quá trình vận chuyển.</p>
            <div>
                <div class="title-number">
                    <p class="number">Bước 1:</p>
                    <p>Quý khách gọi 0334277969 (Thời gian làm việc từ 7h00 - 18h) hoặc nhân viên giao hàng để thông báo
                        thời gian đến nhận lại hàng. Chúng tôi sẽ hướng dẫn quý khách cụ thể.</p>
                </div>
                <div>
                    <p class="number">Bước 2:</p>
                    <p>Nhân viên Oars Organic sẽ đến tận nơi trả tiền và nhận lại hàng. Đối với trường hợp Quý khách
                        thanh toán bằng thẻ (thanh toán online hoặc cà thẻ tận nơi), thì chúng tôi sẽ hoàn tiền vào thẻ
                        đã thanh toán trong tối đa 3 ngày làm việc.</p>
                </div>
            </div>
            <div class="foot">
                <p>Nếu chúng tôi đến trễ hoặc thanh toán chậm hơn cam kết này chúng tôi sẽ tặng Quý khách Phiếu Mua Hàng
                    100.000đ tại <a href="/">Đây</a></p>
            </div>
        </div>
    </div>
</div>