<div class="body">
    <div class="policy">
        <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Phương thức thanh toán
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Phương thức thanh toán</li>
            </ol>
        </div>
    </div>
        <div class="content-policy">
            <div>
                <div>
                    <p class="number">1. Mua hàng và thanh toán trực tiếp tại cửa hàng:</p>
                    <p>- Địa chỉ: Ngọc Trung - Xuân Minh - Thọ Xuân - Thanh Hóa
                        <br>- Thời gian: Mở cửa từ 7h00 – 20h00.
                        <br>- Hình thức thanh toán: Chúng tôi nhận thanh toán bằng thẻ VISA, MasterCard, VNPAYQR, MOMO
                        và các thẻ nội địa khác.
                    </p>
                </div>
                <div>
                    <p class="number">2. Giao hàng trong ngày và thu tiền tận nơi:</p>
                    <p>- Website: oars.epizy.com
                        <br>- Thời gian: Mở cửa từ 7h00 – 20h00.
                        <br>- Hình thức thanh toán: Chúng tôi nhận thanh toán bằng thẻ VISA, MasterCard, VNPAYQR, MOMO
                        và các thẻ nội địa khác.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>