<div class="body">
    <div class="policy">
        <div class="content-page">
        <div class="title-nav-page">
            <p class="title-page">
                Chính sách vận chuyển
            </p>
            <ol class="nav-page">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chính sách vận chuyển</li>
            </ol>
        </div>
    </div>
        <div class="content-policy">
            <p class="title-menu" style="padding-bottom: 15px;">THỜI GIAN GIAO HÀNG</p>
            <p>Thời gian giao hàng tiêu chuẩn trong vòng 2h kể từ khi Oars Organic nhận đơn hàng. Các đơn phát sinh sau
                6h chiều được tiếp nhận và giao vào ngày hôm sau.</p>
            <p class="title-menu" style="padding-top: 15px;">PHÍ VẬN CHUYỂN</p>
            <div>
                <div>
                    <p class="number">1. Đơn hàng từ dưới 199.000 VNĐ</p>
                    <p>Với các đơn hàng dưới 199K, các bạn, các chị vui lòng đến nhận hàng tại các cửa hàng của Oars
                        Organic.
                        <br> - Quận 1: 123 Đinh Tiên Hoàng, Phường Dakao, Quận 1
                        <br>- Quận 2: 93 Trần Não, Phường Bình An, Quận 2
                        <br>- Quận Phú Nhuận: 146 Phan Đình Phùng, Phường 2, Phú Nhuận
                        <br>- Quận 7: số 39 đường 16, khu cảnh viên 2, Quận 7
                        <br>Hoặc Oars Organic giao hàng từ bên thứ 3 ( Grap, Shopeefood, Tiki ….)
                    </p>
                </div>
                <div>
                    <p class="number">2. Đơn hàng từ 199.000 đến dưới 499.000 VNĐ</p>
                    <p>Phí ship phụ thuộc ứng dụng giao hàng grab, lalamove, ahamove...</p>
                </div>
                <div>
                    <p class="number">3. Đơn hàng từ 499.000 đến dưới 1.499.000 VNĐ</p>
                    <p>- Freeship đơn hàng, bán kính giao hàng dưới 5km
                        <br>- Đơn hàng từ 5-10km đồng giá 35.000 VNĐ
                    </p>
                </div>
                <div>
                    <p class="number">4. Đơn hàng trên 1.500.000 VNĐ:</p>
                    <p>- Freeship đơn hàng bán kính dưới 10km
                        <br>- Trên 10km phí ship phụ thuộc ứng dụng giao hàng grab, lalamove, ahamove...
                        Giao hàng miễn phí + Giao hàng riêng (không giao ghép đơn hàng khác) + Thời gian giao hàng nhanh
                        nhất + Ưu tiên giao hàng so với các đơn hàng khác.
                        <br>- Đơn Hàng ở Tỉnh: Oars Organic sẽ giao đến chành xe hoặc đơn vị vận chuyển được chỉ định
                        bởi
                        khách hàng. Khách hàng thanh toán trước giá trị đơn hàng và chi phí vận chuyển cho
                        Organicfood.Vn
                    </p>
                </div>
            </div>
            <div class="foot">
                <p>Chúng tôi bảo đảm các sản phẩm đến tay cả nhà luôn là tươi ngon nhất vì Oars Organic không trữ hàng
                    quá lâu, làm ảnh hưởng hương vị và dinh dưỡng của thực phẩm. Ngoài ra, quý khách hàng cũng thông cảm
                    giúp do quá trình vận chuyển nên đôi khi hàng lên gặp thời tiết không tốt, hay sâu rầy phá nhiều
                    cũng bất ngờ không thu được để phục vụ đúng đơn hàng. Trong trường hợp này, Oars Organic sẽ liên lạc
                    các bạn, các chị để hẹn giao hoặc giới thiệu sản phẩm khác.</p>
            </div>
        </div>
    </div>
</div>