<div class="new-letter">
    <h3>Đăng kí nhận tin khuyến mãi</h3>
    <div class="letter-input">
        <input type="text" placeholder="Nhập email của bạn">
    </div>
    <div class="new-letter-btn">
        <button class="button-gradient">Đăng ký</button>
    </div>
</div>
<div class="footer">
    <div class="lien-he">
        <div class="logo-lien-he">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="dia-chi">
            <div class="dia-chi-icon">
                <i class="oi oi-home"></i>
            </div>
            <span>
                Xuân Minh, Thọ Xuân, Thanh Hóa
            </span>
        </div>
        <div class="sdt">
            <div class="sdt-icon">
                <i class="oi oi-phone"></i>
            </div>
            <span>
                0367959788
            </span>
        </div>
        <div class="email">
            <div class="email-icon">
                <i class="oi oi-envelope-closed"></i>
            </div>
            <span>
                mvt16102001@gmail.com
            </span>
        </div>
    </div>

    <div class="chinh-sach">
        <div class="footer-list">
            <h4>Chính sách</h4>
        </div>
        <ul class="tag-ul-footer">
            <li class="tag-li-footer">
                <a href="/chinh-sach/doi-tra" class="tag-a">
                    <p class="chinh-sach-item">
                        Chính sách đổi trả
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/chinh-sach/bao-mat" class="tag-a">
                    <p class="chinh-sach-item">
                        Chính sách bảo mật
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/chinh-sach/van-chuyen" class="tag-a">
                    <p class="chinh-sach-item">
                        Chính sách vận chuyển
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/chinh-sach/phuong-thuc-thanh-toan" class="tag-a">
                    <p class="chinh-sach-item">
                        Phương thức thanh toán
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <div class="facebook">
        <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D100089187522137&tabs=timeline&width=240&height=220&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="240" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true"
            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>

    <div class="about">
        <div class="footer-list">
            <h4>Về chúng tôi</h4>
        </div>
        <ul class="tag-ul-footer">
            <li class="tag-li-footer">
                <a href="/gioi-thieu" class="tag-a">
                    <p class="chinh-sach-item">
                        Giới thiệu
                    </p>
                </a>
            </li>
            <li class="tag-li-footer">
                <a href="/huong-dan-mua-hang" class="tag-a">
                    <p class="chinh-sach-item">
                        Hướng dẫn mua hàng
                    </p>
                </a>
            </li>
        </ul>
    </div>
</div>