<div class="body">
    <div class="policy">
        <div class="content-page">
            <div class="title-nav-page">
                <p class="title-page">
                    Giới thiệu
                </p>
                <ol class="nav-page">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                </ol>
            </div>
        </div>
        <div class="content-policy">
            <Strong style="color: #e74c3c;">
                Sản phẩm hữu cơ là gì?
            </Strong>
            <p style="margin-top: 15px;"> <strong style="color: #2980b9;">Thực phẩm hữu cơ</strong> là những loại thực phẩm được sản xuất bằng phương thức và tiêu chuẩn
                của nông
                nghiệp
                hữu cơ. Tiêu chuẩn về thực phẩm hữu cơ là khác nhau trên thế giới. Tuy nhiên nông nghiệp hữu cơ nói
                chung luôn hướng đến nuôi trồng thúc đẩy cân bằng sinh thái, đa dạng và bảo tồn đa dạng sinh học. Trong
                sản xuất nông nghiệp hữu cơ có thể hạn chế sử dụng một số loại thuốc trừ sâu, thuốc diệt cỏ và phân bón
                tổng hợp. Thực phẩm hữu cơ cũng không được phép xử lý bằng chiếu xạ, dung môi công nghiệp hoặc các chất
                phụ gia thực phẩm tổng hợp </p>
            <p style="margin-top: 15px;">
                <strong style="color: #2980b9;">Sản phẩm hữu cơ được sản xuất từ những nguyên liệu sạch, các nguyên liệu thu được từ nông nghiệp
                    hữu cơ, không chỉ không chứa hóa chất tổng hợp hại sức khỏe mà còn không phải từ hạt giống GMO (chất
                    biến đổi gene).</strong>
                Chưa kể , nói không với cả chất điều vị, chất màu nhân tạo, hương liệu hóa học … Việc sử dụng các chất
                nói trên cực kỳ hạn chế và luôn trong trải qua các kiểm tra gắt gao theo đúng tiêu chuẩn chất lượng của
                Đức nói riêng và của cả Châu Âu nói chung.
            </p>
            <p style="margin-top: 15px;">
                Và làm sao nhận biết được đó là sản phẩm hữu cơ dù thông tin ít ỏi. Đó là các logo hữu cơ Euro Organic
                Farming và logo AB (argriculture biological) hoặc tiếng Đức là Biologische Landwirtschaft trên mỗi thông
                tin sản phẩm hữu cơ , nhằm đảm bảo các sản phẩm trên tuân thủ đúng các nguyên tắc nông nghiệp hữu cơ.
                Các công ty kiểm soát được lập ra để kiểm tra gắt gao từ nguyên liệu đến xuyên suốt quá trình sản xuất
                ra thành phẩm trước khi cấp chứng nhận in trên bao bì sản phẩm.
            </p>
            <div style="text-align: center; margin: 50px">
                <img src="/img/logo-to-chuc-chung-nhan.png" alt="" style="max-width: 600px;">
                <p style="color: #c0392b;">LOGO CÁC TỔ CHỨC CẤP CHỨNG NHẬN ĐẠT CHUẨN HỮU CƠ CHÂU ÂU</p>
            </div>
            <p>
                Thực phẩm , môi trường ô nhiễm… vấn đề nhỏ nhưng thực trạng lớn. Việc tiêu thụ sản phẩm hữu cơ trước mắt
                không chỉ để bảo vệ sức khỏe mà còn đóng góp không ít vào việc bảo vệ môi trường. Tại sao lại là bảo vệ
                môi trường? Bởi nông nghiệp hữu cơ tiêu thụ ít nước và năng lượng điện., đặc biệt là tái tạo rác tự
                nhiên. Đừng vội vứt bỏ rau thừa hay vỏ quả chuối … mà hãy để dành làm phân bón tự nhiên cho vườn cây nhà
                bạn. Hiện nay đang có phong trào “nông thôn hóa” tại đô thị lớn, vậy hãy tận dụng khoảng không gian nhỏ
                trong nhà để làm nông nghiệp hữu cơ.
            </p>
            <p style="margin-top: 15px;">
                Với chút ít kiến thức của mình, Biohome hy vọng mang tới thông tin hữu ích về nông nghiệp và sản phẩm
                hữu cơ tới người tiêu dùng Việt Nam. Chúng tôi luôn hy vọng những đóng góp nhỏ bé của mình sẽ giúp người
                tiêu dùng được tiếp cận dễ dàng, đầy đủ và minh bạch các thông tin về sản phẩm hữu cơ.Hãy để Oars Ogranic tư
                vấn, chăm sóc sức khỏe cho bạn, gia đình bạn và đảm bảo tương lai con cháu chúng ta sẽ được hưởng những
                gì tốt đẹp nhất!
            </p>
        </div>
    </div>
</div>