<div class="slider">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/slider_1.jpg" alt="First slide">
                <h3 class="text-slider1">Oars Organic</h3>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/slider_2.jpg" alt="Second slide">
                <h3 class="text-slider2">Oars Organic</h3>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-a">
                <h5 class="card-title card-body-title">Rau củ</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/rau-cu" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-b">
                <h5 class="card-title card-body-title">Sinh tố</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/sinh-to" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-c">
                <h5 class="card-title card-body-title">Thực phẩm tươi sống</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/thuc-pham-tuoi-song" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-d">
                <h5 class="card-title card-body-title">Hoa quả</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/hoa-qua" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-e">
                <h5 class="card-title card-body-title">Các loại hạt</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/cac-loai-hat" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-f">
                <h5 class="card-title card-body-title">Gia vị</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/gia-vi" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-g">
                <h5 class="card-title card-body-title">Ngũ cốc</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/ngu-coc" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
        <div class="card col-lg-3 col-sm-6 card-group">
            <div class="card-body card-all-product card-h">
                <h5 class="card-title card-body-title">Siêu thực phẩm</h5>
                <p class="card-text card-text-content">Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và
                    đảm bảo chất lượng
                    ngon nhất giao đến tận tay người tiêu dùng, để san sẻ sự vất vả của các mẹ, các chị</p>
                <a href="/danh-muc-san-pham/sieu-thuc-pham" class="btn btn-primary btn-watch">Xem ngay</a>
            </div>
        </div>
    </div>
</div>

<div class="about-us">
    <div class="about-title">
        <div class="about-heading">
            <span class="text-gradient">VỀ CHÚNG TÔI</span>
        </div>
        <p>Hiện tại vùng nguyên liệu của chúng tôi có thể cung cấp các thực tập tươi sạch với số lượng lớn vì đang vào
            vụ mùa thu hoạch nên chúng tôi có thể cung ứng cho tất cả các đối tác xuất khẩu nông sản trên cả nước.</p>
    </div>
    <div class="owl-stage-outer">
        <div class="about-main-item">
            <div class="about-item-img">
                <img src="/img/icon_uti_1.png" alt="">
            </div>
            <div class="about-item-title">
                <span>Trang trại hữu cơ</span>
            </div>
            <div class="about-item-sum">
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
        </div>

        <div class="about-main-item">
            <div class="about-item-img">
                <img src="/img/icon_uti_2.png" alt="">
            </div>
            <div class="about-item-title">
                <span>Thực phẩm sạch</span>
            </div>
            <div class="about-item-sum">
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
        </div>

        <div class="about-main-item">
            <div class="about-item-img">
                <img src="/img/icon_uti_3.png" alt="">
            </div>
            <div class="about-item-title">
                <span>An toàn sinh học</span>
            </div>
            <div class="about-item-sum">
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
        </div>

        <div class="about-main-item">
            <div class="about-item-img">
                <img src="/img/icon_uti_4.png" alt="">
            </div>
            <div class="about-item-title">
                <span>Đa dạng sinh học</span>
            </div>
            <div class="about-item-sum">
                <span>Cung cấp 100% thực phẩm sạch đảm bảo an toàn và ngon nhất</span>
            </div>
        </div>
    </div>
</div>
<div class="hotline">
    <div class="hotline-content">
        <h2>Hotline</h2>
        <a href="tel:0367959788">0367959788</a>
        <p>Chúng tôi cam kết 100% các sản phẩm có nguồn gốc xuất xứ rõ ràng, sạch, an toàn và đảm bảo chất lượng ngon
            nhất.</p>
    </div>
</div>
<div class="product-trademark">
    <div class="about-title">
        <div class="about-heading">
            <span class="text-gradient">TOP THƯƠNG HIỆU</span>
        </div>
    </div>
    <div class="trademark-item">
        <div class="trademark-item1">
            <img src="/img/brand_1.png" alt="">
        </div>
        <div class="trademark-item1">
            <img src="/img/brand_2.png" alt="">
        </div>
        <div class="trademark-item1">
            <img src="/img/brand_3.png" alt="">
        </div>
        <div class="trademark-item1">
            <img src="/img/brand_4.png" alt="">
        </div>
        <div class="trademark-item1">
            <img src="/img/brand_5.png" alt="">
        </div>
    </div>
</div>