<div class="body">
    <div class="policy">
        <div class="content-page">
            <div class="title-nav-page">
                <p class="title-page">
                    Hướng dẫn mua hàng
                </p>
                <ol class="nav-page">
                    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hướng dẫn mua hàng</li>
                </ol>
            </div>
        </div>
        <div class="content-policy">
            <div>
                <div class="content-number">
                    <p class="number">Bước 1:&nbsp;</p>
                    <p>Truy cập website và lựa chọn sản phẩm cần mua để mua hàng
                    </p>
                </div>
                <div>
                    <div class="content-number">
                        <p class="number">Bước 2:&nbsp;
                        </p> Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau
                    </div>
                    - Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản phẩm
                    vào giỏ hàng
                    <br>- Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và thanh
                    toán
                </div>
                <div>
                    <div class="content-number">
                        <p class="number">Bước 3:&nbsp;</p>Lựa chọn thông tin tài khoản thanh toán
                    </div>
                    <p>- Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục
                        đã có tài khoản trên hệ thống
                        <br>- Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để
                        tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình
                        <br>- Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng không
                        cần tài khoản
                    </p>
                </div>
                <div class="content-number">
                    <p class="number">Bước 4:&nbsp;</p>Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức
                    thanh toán và vận chuyển cho đơn
                    hàng của mình
                </div>
                <div class="content-number">
                    <p class="number">Bước 5:&nbsp;</p>Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng
                </div>
                <p class="content-number">Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại
                    để xác nhận lại
                    đơn hàng và địa chỉ của bạn.</p>
                <p class="content-number"> Trân trọng cảm ơn.
                </p>
            </div>
        </div>
    </div>
</div>